$primaryColor: #007bff;

@mixin primaryStyle {
  background-color: $primaryColor;
}

@include primaryStyle {
  width: 100%;
}

#root {
  background-color: $primaryColor;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  color: aliceblue;
  border: 1px solid black;
  background-color: red;
}

.card {
  padding: 2em;
  border: 1px solid black;
  background-color: peachpuff;
}

.read-the-docs {
  color: #888;
}
